<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head lang="pl">
    <title>Detools - JWT decoder</title>
</head>
<body>
<div class="row no-bottom-margin" layout:fragment="content">
    <form class="col s12" action="#" th:action="@{/jwt}" th:object="${jwtDto}" method="post">
        <div class="row no-bottom-margin">
            <div class="col s12">
                <div class="row no-bottom-margin">
                    <div class="col s6">
                        <div class="row no-bottom-margin">
                            <div class="input-field col s12">
                                <textarea id="token" class="materialize-textarea" th:field="*{token}"></textarea>
                                <label for="token" th:text="#{jwtpage.tokenLabel}">Decoded</label>
                            </div>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="row no-bottom-margin">
                            <div class="input-field col s12">
                                <textarea id="decoded" class="materialize-textarea" th:field="*{decoded}"></textarea>
                                <label for="decoded" th:text="#{jwtpage.outputLabel}">Decoded</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-bottom-margin">
            <div class="col s12">
                <div class="row no-bottom-margin">
                    <div class="col s6">
                        <div class="left">
                            <button class="btn waves-effect waves-teal" name="decode"><span th:text="#{jwtpage.decode}"></span><i class="material-icons tiny left">cloud</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>