<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head lang="pl">
    <title>Witaj!</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <form class="col s12" action="#" th:action="@{/regexp}" th:object="${fiddle}" method="post">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="col s6">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="input" class="materialize-textarea" th:field="*{input}"></textarea>
                                <label for="input" th:text="#{regexp.inputLabel}">Input</label>
                                <!--<input id="input" type="textarea" th:field="*{input}" class="validate" style="height:14em;width:95%" />-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="findexp" type="text" th:field="*{findexp}" />
                                <label for="findexp" th:text="#{regexp.regexpLabel}">RegExp</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="replexp" type="text" th:field="*{replexp}" />
                                <label for="replexp" th:text="#{regexp.replexpLabel}">ReplaceExp</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="output" class="materialize-textarea" th:field="*{output}"></textarea>
                                <label for="output" th:text="#{regexp.outputLabel}">Output</label>
                            </div>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="outputTree" class="materialize-textarea" th:field="*{outputTree}"></textarea>
                                <label for="outputTree" th:text="#{regexp.matchLabel}">Output</label>
                                <span th:text="*{messages}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="row">
                <!--<commandButton value="#{msgs.runLabel}"-->
                                 <!--action="#{regExp.calculate}">-->
                    <!--<param name="id" value="#{fiddle.id}"></param>-->
                    <!--<param name="sub" value="#{fiddle.subId}"></param>-->
                <!--</commandButton>-->
                <!--<commandButton value="#{msgs.saveLabel}"-->
                                 <!--rendered="#{!empty params.id}" action="#{regExp.saveNew}">-->
                    <!--<param name="id" value="0"></param>-->
                    <!--<param name="sub" value="0"></param>-->
                <!--</commandButton>-->
                <!--<commandButton value="#{msgs.updateCurrentLabel}"-->
                                 <!--rendered="#{empty params.id}" action="#{regExp.updateCurrent}">-->
                    <!--<param name="id" value="#{fiddle.id}"></param>-->
                    <!--<param name="sub" value="#{fiddle.subId}"></param>-->
                <!--</commandButton>-->
                <!--<commandButton value="#{msgs.updateToNewLabel}"-->
                                 <!--rendered="#{empty params.id}" action="#{regExp.updateToNew}">-->
                    <!--<param name="id" value="#{fiddle.id}"></param>-->
                    <!--<param name="sub" value="0"></param>-->
                <!--</commandButton>-->
                <!--<commandButton value="#{msgs.forkToNewLabel}"-->
                                 <!--rendered="#{empty params.id}" action="#{regExp.forkToNew}">-->
                    <!--<param name="id" value="0"></param>-->
                    <!--<param name="sub" value="0"></param>-->
                <!--</commandButton>-->
                </div>
            </div>
            <div class="col s12">
                <div class="row">
                    <br />bean.id:
                    <span th:text="*{id}" />
                    bean.subid:
                    <span th:text="*{subid}" />
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>